---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <section class="hero-container">
        </section>
        <section id="sobre-mim" class="sobremim-container">
            d
        </section>
    </main>
</Layout>


<style>
    .hero-container {
        height: 105vh;
        background-color: #000000;
    }
</style>