---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <section class="hero-container">
            
        </section>
    </main>
</Layout>


<style>
    .hero-container {
        height: 90vh;
    }
</style>