---
import Instagram from '../assets/img/instagram.svg';
import Linkedin from '../assets/img/linkedin.svg';
import Github from '../assets/img/github.svg';
---

<footer>


    <div class="menu-container">
        <nav>
            <ul>
                <li><a class="text-menu" href="">Início</a></li>
                <li><a class="text-menu" href="sobre-mim">Sobre Mim</a></li>
                <li><a class="text-menu" href="projetos">Projetos</a></li>
                <li><a class="text-menu" href="contato">Contato</a></li>
            </ul>
        </nav>
    </div>

    <div class="socials-container">
        <div class="instagram-container">
            <a class="icon" href="https://www.instagram.com/c.nun3s_/" target="_blank"><img src={Instagram.src} alt="Instagram Icon"></a>
        </div>
        <div class="linkedin-container">
            <a href="https://www.linkedin.com/in/cnunes7/" target="_blank"><img src={Linkedin.src} alt="Linkedin Icon"></a>
        </div>
        <div class="github-container">
            <a href="https://github.com/Nun3s01/" target="_blank"><img src={Github.src} alt="GitHub Icon"></a>
        </div>
    </div>
    <div class="line-container">
        <hr class="line"/>
    </div>
    <div class="developed-text-container">
        <p>Developed by Cauã Nunes Novaes</p>
    </div>
</footer>


<style>
    footer {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 5rem;
        background-color: #000000;
        border-top: 2px solid #242424;
        z-index: 9999;
        gap: 10px;
    }

    .menu-container {
        justify-content: center;
        width: 100%;
    }

    
    ul {
        list-style-type: none;
        width: auto;
        justify-items: center;
    }
    
    .text-menu {
        font-size: 1rem;
        text-align: center;
        font-family: 'AnekDevanagari', sans-serif;
        font-weight: 500;
        color: #ffffff;
    }



    .socials-container {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }


    .line-container {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .line {
        border-color: #0a0a0a79;
        background-color: #0a0a0a79;
        width: 100%;
    }

    .developed-text-container {
        padding: 10px 0;
        justify-items: center;
        text-align: center;
    }
    .developed-text-container p {
        font-size: .8rem;
        margin: 0;
        color: #f2f2f2;
    }
</style>