<footer>
    <div>
        <!-- parei aqui > pensar o que colocar na footer -->
    </div>


    <div class="developed-text-container">
        <p>Developed by Cauã Nunes Novaes</p>
    </div>
</footer>


<style>
    footer {
        background-color: #000000;
        z-index: 9999;
    }








    .developed-text-container {
        padding: 10px 0;
        justify-items: center;
        text-align: center;
    }
    .developed-text-container p {
        margin: 0;
        color: #f2f2f2;
    }
</style>