<header>
    <nav>
        <div class="title-header-container">
            <div>
                <a class="title-header portfolio_text" href="">Portfólio | </a>
            </div>
            <div>
                <a class="title-header caua-nunes-novaes_text" href="">Cauã Nunes Novaes</a>
            </div>
        </div>
        <ul>
            <li><a class="text-menu" href="">Início</a></li>
            <li><a class="text-menu" href="">Sobre Mim</a></li>
            <li><a class="text-menu" href="">Projetos</a></li>
            <li><a class="text-menu" href="">Contato</a></li>
        </ul>
    </nav>
</header>


<style>
    header {
        position: sticky;
        top: 0;
        left: 0;
        padding: 1.5rem 5rem;
        background-color: #000000d1;
        backdrop-filter: blur(30px);
        border-bottom: 2px solid #242424;
        z-index: 9999;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        list-style-type: none;
        width: auto;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
    li {
        border-color: transparent;
        border-radius: 1px;
    }

    a {
        text-align: center;
        font-family: 'AnekDevanagari', sans-serif;
        font-weight: 500;
        color: #ffffff;
    }

    /* Textos do Menu */
    .text-menu {
        font-size: 1rem;
    }

    /* Container da Title Header: Portfólio | Cauã Nunes Novaes */
    .title-header-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Estilização Padrão para os textos da Title Header: "Portfólio |"  &  "Cauã Nunes Novaes" */
    .title-header {
        font-size: 1.5rem;
    }

    /* Textos Unificados da Logo-Header */
    .portfolio_text {
        margin-right: 2.5px;
    }
    .caua-nunes-novaes_text {
        margin-left: 2.5px;
    }


    /* Animações */
    li:hover {
        transition: .35s ease-in;
        border-bottom: 1px solid #f2f2f2;
    }

</style>